include LICENSE
include README.md
include README-ja.md
include CHANGELOG.md
include docs/spec.md
include docs/spec-ja.md
exclude CONTRIBUTING.md
prune docs/_internal
prune tests
recursive-include slack_markdown_parser py.typed
global-exclude __pycache__ *.py[cod] .DS_Store
